.canvasWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .levelWrapper {
    align-self: center;
    display: flex;
    gap: 10px;
    align-items: center;

    .level{
      width: 60px;
      height: 25px;
      background-color: rgb(35, 35, 35, 0.5);
      color: white;
      border: none;
      font-family: 'Press Start 2P', cursive;
      text-align: center;
      border-radius: 4px;
    }

    .level:disabled{
      background-color: white;
      color: #232323;
      pointer-events: none;
    }

    .level:hover{
      cursor: pointer;
      background-color: white;
      color: #232323;
    }
  }

  #canvas {
    background: linear-gradient(90deg, #A23D3D, rgb(35, 35, 35, 0.5), rgb(35, 35, 35, 0.5),rgb(35, 35, 35, 0.5),
      rgb(35, 35, 35, 0.5), rgb(35, 35, 35, 0.5), rgb(35, 35, 35, 0.5), rgb(35, 35, 35, 0.5), rgb(35, 35, 35, 0.5), #46A23D) 50%;
    background-size: 130% ;
    transition: all 0.15s ease-out;
    border-radius: 20px;
  }
}

.resolutionInfo {
  display: none;
}


@media only screen and (max-width: 999px), screen and (max-height: 599px) {
  .canvasWrapper {
    display: none;
  }
  .resolutionInfo {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    justify-content: center;
    align-items: center;

    .errorHeader {
      font-size: 1.2rem;
      font-weight: bold;
    }

    .errorMessage {
      font-size: 0.8rem;
    }
  }
}
