.content{
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas: "info" "game";
  height: 100%;


  .topInfo{
    grid-area: info;
    background: linear-gradient(45deg, #34495E, #494949, #808B96, #808B96);
    background-size: 300% 300%;
    animation: gradientHeader 30s ease-in-out infinite;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: min(9vw, 30px);
  }

  .game{
    grid-area: game;
    justify-self: center;
    align-self: center;
    height: 100%;
    display: flex;
    align-items: center;
  }
}

@keyframes gradientHeader {
  0% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 0 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

