html {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  color: white;
  background: linear-gradient(45deg, var(--color1), var(--color2), var(--color3), var(--color4));
  background-size: 200% 200%;
  animation: gradient var(--animationTime) ease-in-out infinite;
  overflow: hidden;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
}

:root{
  --canvasColor: rgb(57, 62, 70, 0.5);
  --canvasGlowColor: rgb(45, 160, 255);

  --color1: #222831;
  --color2: #393E46;
  --color3: #00ADB5;
  --color4: #EEEEEE;

  --animationTime: 40s;
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
