html {
  margin: 0px;
  height: 100%;
  width: 100%;
  background-color: #2E302E;
  font-family: 'Press Start 2P', cursive;
  color: #d0d0d0;
}

body {
  margin: 0px;
  height: 100%;
  width: 100%;
  background: linear-gradient(45deg, #34495E, #494949, #808B96, #D5D8DC);
  background-size: 300% 300%;
  animation: gradient 30s ease-in-out infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
